.create-resume {
  border: 1.5px black solid;
  border-radius: 5px;
  background-color: chocolate;
  width: fit-content;
  padding: 5px;
}

.create-resume a {
  text-decoration: none;
  color: white;
}

.resume-card {
  background-color: violet;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
}

.resume-card .delete-resume-div{
  cursor: pointer;
}