.app {
  /* text-align: center; */
  
  height: 100vh;
  padding: 20px;
  
}

.logo {
  border-bottom: 1px solid rgb(110, 37, 37);
  /* background-color: rgb(141, 120, 120); */

}

.link-to-home {
  text-decoration: none;
}

.main {
  width: 95%;
  margin: 0 auto;
}